/* Do not remove this rule */

html {
    font-size: 14px;
}

body {
    background-color: antiquewhite;
    padding: .75rem  
}

.border {
    border-color: brown;
    border-style: double;
    border-width: .75rem;
    padding: .75rem;
}

.content {
    background-color: white;
    border-color: blue;
    border-style: ridge;
    border-width: .75rem;
    padding: 3rem;
}

.content p {
    color:brown;
    text-align: left;
}

.content #intro:hover {
    color: red;
}

.content #intro::first-letter {
    font-size: 3.5rem;
    font-weight: bold;
}

.content li {
    list-style-type: upper-alpha;
}

.content table, th, td {
    border-style:solid;
}

.content caption {
    color: blue;
}

.content th {
    background-color: antiquewhite;
    color: brown;
    border-color: black;
}
.header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.globe img {
    max-height: 20rem;
    max-width: 6.7rem;
}

.deptcs img {
    max-height: 5rem;
    max-width: 35rem;
}

#additional {
    color: brown;
}

#copyright {
    color: black;
}

#bullets li {
    list-style-type: circle;
}

#numbers li {
    list-style-type:decimal
}